<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pishpesh.gozapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name="goZappApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassesActivity"
            android:label="@string/title_activity_classes" >
            <intent-filter>
               
            </intent-filter>
        </activity>
        <activity
            android:name=".CostumersActivity"
            android:label="@string/title_activity_costumers" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".NewClassActivity"
            android:label="@string/title_activity_new_class" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".NewCostumerActivity"
            android:label="@string/title_activity_new_costumer" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".ExistCostumerActivity"
            android:label="@string/title_activity_exist_costumer" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".NewPurchaseActivity"
            android:label="@string/title_activity_new_purchase" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".ExistClassActivity"
            android:label="@string/title_activity_exist_class" >
            <intent-filter>
               
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".ExportImportActivity"
            android:label="@string/title_activity_export_import" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationsActivity"
            android:label="@string/title_activity_locations" >
            <intent-filter>
                
            </intent-filter>
        </activity>
    </application>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>